body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1 {
  background: url(images/animeheader-spider.png) #1f2328 center fixed no-repeat;
  min-height: 100%;
  background-size: contain;
}

.pimg2 {
  background: url(images/onepiecehead.png) #1f2328 center fixed no-repeat;
  background-size: contain;
  min-height: 500px;
}

.pimg3 {
  background: url(images/tokyoghoul.png) #1f2328 center fixed no-repeat;
  background-size: contain;
  min-height: 300px;
}

.pimg4 {
  background: url(images/demonslayer.png) #1f2328 center fixed no-repeat;
  background-size: contain;
  min-height: 100%;
}
